[submodule "rawdraw"]
	path = rawdraw
	url = https://github.com/cntools/rawdraw
[submodule "cnfa"]
	path = cnfa
	url = https://github.com/cntools/cnfa
[submodule "clay"]
	path = clay
	url = https://github.com/nicbarker/clay.git
